FIELDBOOK_API_URL=https://api.fieldbook.com/v1/example/orders // required
MOCK_DATA=false // optional, default false
AWS_ACCESS_KEY=... // optional, for S3 deployment only
AWS_SECRET_KEY=... // optional, for S3 deployment only
AWS_BUCKET=... // optional, for S3 deployment only
AWS_PATH=... // optional, for S3 deployment only
