<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orders</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Orders">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Orders">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" sizes="192x192" href="<%= require('file-loader!./icons/icon-192.png')%>">
    <link rel="icon" sizes="512x512" href="<%= require('file-loader!./icons/icon-512.png')%>">
    <link rel="shortcut icon" sizes="192x192" href="<%= require('file-loader!./icons/icon-192.png')%>">
    <link rel="apple-touch-icon" sizes="192x192" href="<%= require('file-loader!./icons/icon-192-square.png')%>">
    <link rel="apple-touch-icon" sizes="512x512" href="<%= require('file-loader!./icons/icon-512-square.png')%>">
    <link rel="manifest" href="manifest.json">

    <meta name="theme-color" content="#fe3d3d">
    <script type="text/javascript">
      if(window.navigator.standalone) {
        document.querySelector('html').className = 'ios-standalone';
      }
    </script>

    <% for (var css of htmlWebpackPlugin.files.css.filter((file) => file.indexOf("shell") != -1)) { %>
      <style><%= compilation.assets[css.substr(htmlWebpackPlugin.files.publicPath.length)].source() %></style>
    <% } %>
  </head>
  <body>
    <div id="root">
      <div id="app">
        <header class="header"><h1>Orders</h1></header>
        <main id="content">
        </main>
      </div>
    </div>
  </body>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  <% for (var css of htmlWebpackPlugin.files.css.filter((file) => file.indexOf("styles") != -1)) { %>
    <link href="<%= css %>" rel="stylesheet">
  <% } %>
</html>
